/* Style de base pour le body avec image de fond fixe */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url(./photorbpl2025/insta1.JPG) no-repeat center center fixed;
    background-size: cover;
    overflow-y: auto; /* Permet le défilement vertical */
  }

   /* Positionnement initial des fenêtres */
   
   #fenetre1 { top: 20px; left: 2%; background :linear-gradient(to bottom, rgba(0, 0, 255, 0.568), white, rgba(255, 0, 0, 0.479));  }
   
   #fenetre2 { top: 20px; left: 27%; background :linear-gradient(to bottom, rgba(0, 0, 255, 0.568), white, rgba(255, 0, 0, 0.479));  }

   #fenetre3 { top: 20px; left: 52%; background :linear-gradient(to bottom, rgba(0, 0, 255, 0.568), white, rgba(255, 0, 0, 0.479));  }

   #fenetre4 { top: 20px; left: 77%; background :linear-gradient(to bottom, rgba(0, 0, 255, 0.568), white, rgba(255, 0, 0, 0.479));  }
   
  
  /* Conteneur principal */
  .container {
    position: relative;
    min-height: 550px; /* Ajustez la hauteur minimale selon vos besoins */
  }
  
  /* Style de base pour la fenêtre1 avec dimensions fixes */
  .fenetre1 {
    position: absolute;
    width: 22%;         /* Pour avoir 4 fenêtres sur la largeur */
    height: 400px;      /* Hauteur fixe pour éviter le redimensionnement */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    padding: 10px;
    box-sizing: border-box;
    /* overflow: auto;       */
    /* Pour permettre de scroller le contenu interne si nécessaire */
  }
  
  
  /* Styles pour le contenu des fenêtres */
  .fenetre1 h1 {
    margin: 0;
    padding-bottom: 10px;
    font-style: italic;
    font-size: 1.5em;
    text-align: center;
    color: black;
    user-select: none;
  }
  
  .fenetre1 img {
    width: 150px;
    height: 150px;
    display: block;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    user-select: none;
  }
  
  .fenetre1 p {
    margin: 0;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    user-select: none;
    padding: 5px;
  }
  

  /* Style de base pour la fenêtre2 avec dimensions fixes */
  .fenetre2 {
    position: absolute;
    width: 22%;         /* Pour avoir 4 fenêtres sur la largeur */
    height: 400px;      /* Hauteur fixe pour éviter le redimensionnement */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    padding: 10px;
    box-sizing: border-box;
    /* overflow: auto;      */
    /* Pour permettre de scroller le contenu interne si nécessaire */
  }
  
   
  /* Styles pour le contenu des fenêtres */
  .fenetre2 h1 {
    margin: 0;
    padding-bottom: 10px;
    font-style: italic;
    font-size: 1.5em;
    text-align: center;
    color: black;
    user-select: none;
    
  }
  
  .fenetre2 img {
    width: 150px;
    height: 150px;
    display: block;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    user-select: none;
  }
  
  .fenetre2 p {
    margin: 0;
    line-height: 1.5;
    color: white;
    user-select: none;
    padding: 5px;
    text-align: center;
  }
  
  /* Style de base pour la fenêtre2 avec dimensions fixes */
  .fenetre3 {
    position: absolute;
    width: 22%;         /* Pour avoir 4 fenêtres sur la largeur */
    height: 400px;      /* Hauteur fixe pour éviter le redimensionnement */
    background-size: cover;
    background-position:  center;
    background-repeat: no-repeat;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    padding: 10px;
    box-sizing: border-box;
    /* overflow: auto;   */
  }
  
   
  /* Styles pour le contenu des fenêtres */
  .fenetre3 h1 {
    margin: 0;
    padding-bottom: 10px;
    font-style: italic;
    font-size: 1.5em;
    text-align: center;
    color: black;
    user-select: none;
  }
  
  .fenetre3 img {
    width: 150px;
    height: 150px;
    display: block;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    user-select: none;
  }
  
  .fenetre3 p {
    margin: 0;
    line-height: 1.5;
    color: #fff;
    user-select: none;
    padding: 5px;
  }
  
  /* Style de base pour la fenêtre4 avec dimensions fixes */
  .fenetre4 {
    position: absolute;
    width: 22%;         /* Pour avoir 4 fenêtres sur la largeur */
    height: 400px;      /* Hauteur fixe pour éviter le redimensionnement */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    padding: 10px;
    box-sizing: border-box;
    /* overflow: auto;      */
   
  }
  
   
  /* Styles pour le contenu des fenêtres */
  .fenetre4 h1 {
    margin: 0;
    padding-bottom: 10px;
    font-style: italic;
    font-size: 1.5em;
    text-align: center;
    color: black;
    user-select: none;
  }
  
  .fenetre4 img {
    width: 150px;
    height: 150px;
    display: block;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    user-select: none;
  }
  
  .fenetre4 p {
    margin: 0;
    line-height: 1.5;
    color: #fff;
    user-select: none;
    padding: 5px;
  }

  /* Style du bouton */
.btn {
    position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  /* font-weight: bold;  */
  font-style: italic;
  text-decoration: underline;
  text-align: center;
  user-select: none;
  }
  
  .btn:hover {
    /* background-color: #0056b3;  */
    letter-spacing: 2px;
  }

  /* Style de base pour la fenêtre5 avec dimensions fixes */
  .fenetre5 {
    
      position: absolute;
      left: 2%;
      right: 1%;
      height: 50px;      /* Hauteur fixe */
      bottom: 5px;
      /* background-color: rgba(0, 100, 0, 0.438);  */
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      /* border: 1px solid black;  */
      box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
      padding: 10px;
      box-sizing: border-box;
  }


   .fenetre51 {
    
      position: absolute;
      left: 2%;
      right: 2%;
      height: 40px;      /* Hauteur fixe */
      bottom: 5px;
      background-color: white; 
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border: 1px solid black;
      border-radius: 5px;
      box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
      padding: 10px;
      box-sizing: border-box;
  }

  .fenetre5 p {
    margin: 0;
    line-height: 1;
    color: black;
    user-select: none;
    padding: 5px;
    text-align: center;
  }
  
  @media screen and (max-width: 955px) {
    .fenetre1 img, .fenetre2 img, .fenetre3 img, .fenetre4 img {
      width: 100px;
      height: 100px;
    }
    
    .fenetre1 h1, .fenetre2 h1, .fenetre3 h1, .fenetre4 h1 {
      font-size: 1rem;
    }

    .btn {
     font-size: 1rem;
    }
    .fenetre1 p, .fenetre2 p, .fenetre3 p, .fenetre4 p {
      font-size: 0.8rem;
    }
    .fenetre5 p {
      font-size: 0.8rem;
    }
  }

  @media screen and (max-width: 600px) {
    .fenetre1 img, .fenetre2 img, .fenetre3 img, .fenetre4 img {
      width: 70px;
      height: 70px;
    }
    
    .fenetre1 h1, .fenetre2 h1, .fenetre3 h1, .fenetre4 h1 {
      font-size: 0.8rem;
    }
    .btn {
      font-size: 0.8rem;
     }
     .fenetre1 p, .fenetre2 p, .fenetre3 p, .fenetre4 p {
      font-size: 0.7rem;
    }
    .fenetre5 p {
      font-size: 0.7rem;
    }
  }