body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('./photorgpd/circuit\ electronique.jpg');
    background-size: cover; /* L'image couvre tout l'écran */
    background-position: center; /* Centrer l'image */
    background-attachment: fixed; /* L'image reste fixe lors du
    /* background-color: #f4f4f4;  */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 20px;
    border: 2px solid black;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 700px;
    overflow-y: auto;
    max-height: 90vh;
}

h1, h2 {
    color: #007bff;
}

p, ul {
    font-size: 16px;
    line-height: 1.5;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
