/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    margin: 0;
    padding: 20px;
    background-image: url('./photocontact/fondcontact.jpg');
    background-size: cover; /* L'image couvre tout l'écran */
    background-position: center; /* Centrer l'image */
    background-attachment: fixed;
  }
  
  .container {
    max-width: 600px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 0px;
    border: 1px solid black;
    
  }

  
  
  h2 {
    font-size: 18px;
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px;
    font-style: italic;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
    background: rgba(128, 128, 128, 0.438);
    
  }
  
  textarea {
    height: 150px;
    resize: none;


  }
  
  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background: transparent;
    color: green;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    
  }
  
  button:hover {
    
    letter-spacing: 2px;
  }
  