/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    margin: 0;
    padding: 20px;
    background-image: url('./photocontact/fondcontact.jpg');
    background-size: cover; /* L'image couvre tout l'écran */
    background-position: center; /* Centrer l'image */
    background-attachment: fixed;
  }
  
  .container {
    position: relative;
    max-width: 600px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 0px;
    border: 1px solid black;
    
  }

  
  
  h2 {
    font-size: 18px;
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px;
    font-style: italic;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
    background: rgba(128, 128, 128, 0.438);
    
  }
  
  textarea {
    height: 150px;
    resize: none;


  }
  
  button {
    display: flex;
    margin: 20px auto;
    padding: 10px 20px;
    background: transparent;
    color: green;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    font-style: italic;
    
  }
  
  button:hover {
    
    letter-spacing: 2px;
  }

  /* --- Cube 3D --- */
.cube-window {
  position: absolute;
  top: 85%;  
  right: 15%;
}

.cube-link {
  display: block;
}

.cube {
  position: relative;
  width: 50px;
  height: 50px;
  
  transform-style: preserve-3d;
  animation: rotate 15s infinite linear;
}

.face {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.face img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.front {
  transform: translateZ(25px);
}
.back {
  transform: rotateY(180deg) translateZ(25px);
}
.left {
  transform: rotateY(-90deg) translateZ(25px);
}
.right {
  transform: rotateY(90deg) translateZ(25px);
}
.top {
  transform: rotateX(90deg) translateZ(25px);
}
.bottom {
  transform: rotateX(-90deg) translateZ(25px);
}

@keyframes rotate {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

  