body {
    background-color: black;
    margin: 0;
    padding: 0;
}

/* Galerie */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1px;
    row-gap: 0;
    padding:1px;
}

/* Photo */
.photo {
    width: 100%;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
    border: 1px solid black;
}

img {
    -webkit-user-drag: none; /* Safari */
    user-drag: none; /* Standard */
}

/* Modale */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.37);
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: relative;
    width: 66%;
    height: 70%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 20px solid white;
    border-radius: 10px;
    flex-direction: column; /* Ajout pour empiler l'image et le texte */
}

#modal-image {
    width: 100%;
    height: 100%; /* L'image prend 70% de la hauteur de la modale */
    margin-top: 30px;
    object-fit: cover;
}

/* Paragraphe pour afficher le nom de l'image */
#modal-caption {
    font-size: 14px;
    color: black;
    margin-top: 5px; /* Espace entre l'image et le texte */
    text-align: center;
    font-style: italic;
}

/* Boutons */
.close-btn {
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 14px;
    color: red;
    background: none;
    border: none;
    cursor: pointer;
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
}

.prev-btn {
    left: -25px;
}

.next-btn {
    right: -25px;
}
