/* General reset */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    /* background: url(./photoindex/fondindex.JPG) center/cover;  */
    background-color: white;
    min-height: 100vh;
    
}                                       

@font-face {
    font-family: 'police navbar';
    src: url(./font/PlayfairDisplay-Italic-VariableFont_wght.ttf) format(woff2);
    font-weight: normal;
    font-style: normal;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 20px;
    color: #fff;
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    flex-wrap: nowrap; /* Assure que les éléments restent sur une seule ligne */
    z-index: 1000;
}

.nav-left,
.nav-middle,
.nav-right {
    display: flex;
    align-items: center;
}

/* Dropdown structure */
.dropdown {
    position: relative;
}

/* Dropdown button styling */
.nav-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
    font-family: 'police navbar';
}

.nav-btn:hover {
    background-color: black;
    border-radius: 5px;
    letter-spacing: 1px;
}

/* Dropdown menu */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 10;
    overflow: hidden;
}

/* Show dropdown menu when hovering over .dropdown */
.dropdown:hover .dropdown-menu {
    display: block;
}

/* Dropdown menu links */
.dropdown-menu a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.dropdown-menu a:hover {
    background-color: #555;
}

@media screen and (min-width: 541px) {
    .separator {
        display: block !important; /* Force l'affichage */
    }
}

/* Separators */
.separator {
    width: 1px;
    height: 20px;
    background-color: #888;
    margin: 0 10px;
}

/* Icons */
.nav-middle .nav-icon {
    margin: 0 10px;
}

.nav-middle .nav-icon img {
    width: 40px;
    height: 40px;
    transition: opacity 0.3s ease;
}

.nav-middle .nav-icon img:hover {
    opacity: 0.7;
    width: 50px;
    height: 50px;
}

.nav-right {
    width: 300px;

}

/* Connexion a propos des photos */
.login-btn {
    width: 100%;
    text-align: right;
    background-color: transparent;
    color: red;
    padding: 8px 6px;
    font-size: 14px;
    font-style: italic;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: transparent;
    letter-spacing: 1px;
}

/* ---cible uniquement le bouton mon compte---- */
.nav-right a[href="moncompte.html"] {
    background-color: transparent; /* Exemple : bouton rouge */
    color: white;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
}

.nav-right a[href="moncompte.html"]:hover {
    background-color: darkred;
    letter-spacing: 0;
}

/* Logo Valou dans la barre de navigation */
.logo {
    width: 60px;
    height: 50px;
    margin-right: 20px;
}

.logo:hover {
    width: 70px;
    height: 60px;
}

/* Media Queries pour rendre la page responsive */
@media screen and (max-width: 1070px) {
    .navbar {
        padding: 10px 15px;
    }

    .nav-btn {
        font-size: 10px;
        padding: 6px 12px;
    }

    .logo {
        width: 50px;
        height: 35px;
    }

    .nav-middle .nav-icon img {
        width: 35px;
        height: 35px;
    }

    .login-btn {
        font-size: 12px;
        padding: 6px 12px;
    }
}

@media screen and (max-width: 768px) {

    body {
      
        background: url(./photoindex/fondindex.JPG) center/cover;
        
        min-height: 100vh;
        
    }




    .navbar {
        padding: 10px 4px;
      
        /* flex-direction: column;  */
        /* align-items: center;  */
        /* justify-content: center;  */
        /* height: auto;  */
        /* width: 30%;  */
        /* position: fixed;  */
        /* top: 0;  */
        /* left: 50%;  */
        /* transform: translateX(-50%);  */
        /* z-index: 1000;  */

    }

    .nav-left,
    .nav-middle,
    .nav-right {
        display: flex;
        /* flex-direction: column;  */
        align-items: center; /* Centre les éléments horizontalement */
        gap: 1px; /* Espacement entre les éléments de la même section */
    }



    .nav-btn {
        font-size: 0.5rem;
        padding: 6px 2px;
    }

    .logo {
        width: 30px;
        height: 20px;
    }

    .nav-middle .nav-icon img {
        width: 20px;
        height: 20px;
    }

    .login-btn {
        font-size: 10px;
        padding: 5px 0;
    }
}

@media screen and (max-width: 540px) {
    .navbar {
        
        padding: 0 5px; /* Un peu plus d'espacement pour les petits écrans */
        flex-direction: column; /* Empile les éléments en colonne */
        align-items: center; /* Centre les éléments horizontalement */
        justify-content: center; /* Centre les éléments verticalement */
        height: auto; /* Permet d'ajuster la hauteur en fonction du contenu */
        width: 45%;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
        
        
        
    }

    .nav-left,
    .nav-middle,
    .nav-right {
        display: flex;
        flex-direction: column; /* Les éléments de chaque côté de la navbar se mettent en colonne */
        align-items: center; /* Centre les éléments horizontalement */
        gap: 10px; /* Espacement entre les éléments de la même section */
    }

    .nav-right {
        width: 99%;
        padding: 6px 0px 6px 0px;
        
    }

    /* Ajuster la taille des boutons et logos */
    .nav-btn {
        font-size: 10px;
        
        padding: 8px 12px;
    }

    .logo {
        width: 40px;
        height: 30px;
        margin-bottom: 10px; /* Ajoute un espacement entre le logo et les éléments de la navbar */
    }

    .nav-middle .nav-icon img {
        width: 25px;
        height: 25px;
        margin-top: 25px;
    }

    .login-btn {
        font-size: 10px;
        margin-top: 10px;
        padding: 6px 1px;
        text-align: center;
    }
}


    /* Réduire l'espacement entre les éléments */
    .nav-left,
    .nav-middle,
    .nav-right {
        gap: 5px;
    }
    .separator {
        display: none;
    }

 

.carousel-container {
    position: relative;
    width: 80%; /* Ajuster encore plus la largeur */
    height: 110px; /* Réduire encore la hauteur */
    /* top: -100px;  */
    
    

    /* transform: translateY(100px);  */
    /* Réduire le décalage vertical */
}
.carousel-controls {
    bottom: 5px; /* Ajuster la position des bullets pour qu'elles ne chevauchent pas l'image */
}
.carousel-bullet {
    width: 10px;  /* Réduire la taille des bullets */
    height: 10px;
} 



.nav-left {
    height: 150px;
}


/* ---------texte qui défile ----- */
.scrolling-text-container {
    position: absolute;
    top: 80%; /* Ajuster pour placer le texte juste au-dessus des bullets */
    left: 2%;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.scrolling-text {
    display: inline-block;
    font-size: 15px;
    color: black;
    font-weight: bold;
    font-style: italic;
    animation: scrolling-text 30s linear infinite;
    user-select: none;
}


@keyframes scrolling-text {
    0% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.paused {
    animation-play-state: paused;
    display: none;
  }

  #toggleText {
    position: absolute;
    bottom: 15%;      /* Ajuste la position selon tes besoins */
    right: 100px;   /* Ajuste la position selon tes besoins */
    width: 50px;
    height: 50px;
    padding: 5px 10px;
    border: none;
    border-radius: 50%;
    font-size: 10px;
    cursor: pointer;
    z-index: 10;
  }





/* --------------2eme partie CAROUSEL----------  */

/* Reset global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh;  */
    /* margin: 0;  */
}

img {
    -webkit-user-drag: none; /* Safari */
    user-drag: none; /* Standard */
}

/* Conteneur du carrousel */
.carousel-container {
    position: relative;
    bottom: 4px;
    margin-top: 40px;
    transform: translateY(1px);
    width: calc(100% - 100px);
    margin-right: -0px;
    height: calc(100vh - 150px);
    
    
    border: 1px solid;
    /* border-radius: 0 30px 0 30px;  */
    overflow: hidden; /* Masquer les images non visibles */
    /* transform: translateY(150px);  */
    box-sizing: border-box;
    
}

/* Carrousel */
.carousel {
    width: 100%;
    height: 100%;
    position: relative;
}

/* Images du carrousel */
.carousel-images {
    display: flex;
    transition: transform 1s ease;
}

/* Image individuelle dans le carrousel */
.carousel-image {
    
    width: 100%;  /* Utilisation de pourcentage pour que l'image prenne toute la largeur du conteneur */
    height: 100%;
    flex-shrink: 0; /* Empêche l'image de se réduire */
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; /* Initialement, les images sont invisibles */
    transition: opacity 2s ease-in-out; /* Effet de fondu */
}

/* Rendre l'image active visible */
.carousel-image.active {
    opacity: 1;
}

/* Images */
.carousel-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Contrôles (Bullets) */
.carousel-controls {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

/* Bullet Style */
.carousel-bullet {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Bullet actif */
.carousel-bullet.active {
    background-color: #333;
}



/* ------mise en forme bulle---------- */
.email-bubble {
    position: fixed;
    top: 120px;         /* Espace du bas */
    left: 60px;          /* Espace de la droite */
    width: 80px;          /* La largeur s'ajuste au contenu */
    min-width: 80px;     /* Largeur minimale pour bien contenir le texte */
    height: 80px;         /* Hauteur fixe */
    padding: 0 10px;      /* Un peu d'espace horizontal à l'intérieur */
    border-radius: 50%;  /* Forme arrondie */
    /* background-color: black;  */
    background: linear-gradient(111deg, red, rgb(146, 47, 146), blue);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;          /* Couleur du texte */
    font-size: 14px;      /* Taille du texte */
    text-decoration: none;/* Supprime le soulignement du lien */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;        /* Pour être sûr que la bulle soit au-dessus des autres éléments */
    text-align: center;   /* Centre le texte */
    font-style: italic;
  }


  /* zone 1 photo sous carousel  */
  .photo-text-container0 {
    position: absolute;
    display: flex;      
    width: calc(100% - 100px);
    left: 50px;
    top: calc(62px + (100vh - 120px));
}
  

.text-container0 {
    width: 100%;
    height: 8px;
    border: 1px solid black;
    overflow: hidden;
    background-color: black;
    font-style: italic;
    user-select: none;
    margin-top: 2px;
    
    
}

 
   /* zone 1 photo sous carousel  */
  .photo-text-container1 {
    position: absolute;
    display: flex;      
    width: calc(100% - 100px);
    align-items: center;    
    /* gap: 2%;  */
    /* margin-right: 2%;  */
    left: 50px;
    top: calc(80px + (100vh - 120px));
}
  
.photo-container1 {
    
    width: 69%;
    height: 300px;
    border: 1px solid black;
    padding: 5px;
    overflow: hidden;
    
    
}

.photo-container1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.text-container1 {
    max-width: 29%;    
    min-width: 29%;
    margin-left: 2%;
    height: 300px;
    border: 1px solid black;
    overflow: hidden;
    /* margin-bottom: 100px;  */
    padding: 5px;
    background-color: #8888887a;
    font-style: italic;
    user-select: none;
    line-height: 1.5rem;
    
}

.text-container1 h2 {
    
    text-align: center;
    color: cadetblue;
    font-style: italic;
}
.text-container1 p {
    text-align: center;
}

/* zone 1bis photo sous carousel  */
.photo-text-container1bis {
    position: absolute;
    display: flex;      
    width: calc(100% - 100px);
    align-items: center;     
    left: 50px;
    top: calc(390px + (100vh - 120px));
    
}
  
.photo-container1bis {
    
    width: 20%;
    height: 300px;
    border: 1px solid black;
    overflow: hidden;
    margin-right: 2%;
        
}


.photo-container11bis {
    width: 34%;
    height: 300px;
   
}

.photo-container111bis {
    width: 100%;
    height: 48%;
    top: 0;
    left: 0;
    border: 1px solid black;
    
}
.photo-container111bis img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    
}
.photo-container112bis {
    width: 100%;
    height: 48%;
    border: 1px solid black;
    margin-top: 10px;   
}
.photo-container112bis img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    
}
.photo-container1bis img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    display: block;
}

.text-container1bis {
    max-width: 20%;    
    min-width: 20%;
    height: 300px;
    /* border: 1px solid black;  */
    overflow: hidden;
    margin-right: 2%;
    padding: 50px 5px 5px 5px;
    /* background-color: #8888887a;  */
    font-style: italic;
    user-select: none;
    line-height: 1.5rem;
    
    
}

.text-container1bis h2 {
    
    text-align: center;
    color: cadetblue;
    font-style: italic;
}
.text-container1bis p {
    color: blue;
    text-align: center;
}


/* zone 2 photo sous carousel  */
.photo-text-container2 {
    position: absolute;
    display: flex;      
    
    width: calc(100% - 100px);
    align-items: center;     
    left: 50px;
    top: calc(700px + (100vh - 120px));
}
  
.photo-container2 {
    
    width: 49%;
    height: 300px;
    border: 1px solid black;
    overflow: hidden;
    padding: 5px;
    
        
}

.photo-container2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.text-container2 {
    max-width: 49%;    
    min-width: 49%;
    margin-right: 2%;
    height: 300px;
    border: 1px solid black;
    overflow: hidden;
    background: url(./photoindex/objectif.jpg) center/cover;
    user-select: none;
    
}

.text-container2 h2 {
    
    text-align: center;
    color: cadetblue;
    font-style: italic;
}

/* zone 3 photo sous carousel  */
.photo-text-container3 {
    position: absolute;
    display: flex;      
    width: calc(100% - 100px);
    align-items: center;
    left: 50px;
    top: calc(1010px + (100vh - 120px));
}
.video-container3 {
    
    width: 59%;
    height: 300px;
    border: 1px solid black;
    overflow: hidden;
    margin-right: 2%;
    
    
}

/* Container pour la vidéo */
/* .video-container3 {  */
    /* flex: 1;        */
    /* display: flex;  */
    
  /* }  */
  
  /* Style pour la vidéo */
  .video-container3 video {
    
    width: 100%;
    height: 300px;             
    border: 1px solid #ccc;    /* Bordure optionnelle */
    
  }

.text-container3 {
    max-width: 39%;    
    min-width: 39%;
    height: 300px;
    border: 1px solid black;
    overflow: hidden;
    /* margin-bottom: 100px;  */
    padding: 5px;
    background-color: #8888887a;
    user-select: none;
    font-style: italic;
    line-height: 1.5rem;
    
}

.text-container3 h2 {
    
    text-align: center;
    color: cadetblue;
    font-style: italic;
    user-select: none;
}

  /* zone 4 photo sous carousel  */
  .photo-text-container4 {
    position: absolute;
    display: flex;      
    width: calc(100% - 100px);
    align-items: center;     /* Aligne verticalement au centre */
    left: 50px;
    top: calc(1320px + (100vh - 120px));
}
  
.photo-container4 {
    width: 49%;
    height: 300px;
    border: 1px solid black;
    overflow: hidden;
    margin-right: 2%;
    
}


.text-container4 {
    max-width: 49%;    
    min-width: 49%;
    height: 300px;
    border: 1px solid black;
    overflow: hidden;
    user-select: none;
    
}



/* zone 5 photo sous carousel  */

.photo-text-container5 {
    position: absolute;
    display: flex;      
    width: calc(100% - 100px);
    align-items: center;     /* Aligne verticalement au centre */
    left: 50px;
    top: calc(1630px + (100vh - 120px));
    
}
  
.photo-container5 {
    width: 30%;
    height: 300px;
    border: 1px solid black;
    overflow: hidden;
    margin-bottom: 100px;
    margin-right: 2%;
    margin-left: 2%;
}

.photo-container5 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

img.photo-container5 {
    transform: rotate(0deg);
  }

.text-container5 {
    max-width: 33%;
    min-width: 33%;
    height: 300px;
    border: 1px solid black;
    overflow: hidden;
    margin-bottom: 100px;
    padding: 5px;
    user-select: none;
    background-color: #8888887a;
}
.text-container5 h2 {
    font-size: 20px;
    color: darkgreen;
    font-style: italic;
    text-align: center;
}

/* zone 6 photo sous carousel  */

.photo-text-container6 {
    position: absolute;
    display: flex;      
    width: calc(100% - 100px);
    align-items: center;     /* Aligne verticalement au centre */
    left: 50px;
    top: calc(1940px + (100vh - 120px));
    
}
  
.photo-container6 {
    width: 49%;
    height: 300px;
    border: 1px solid black;
    overflow: hidden;
    margin-bottom: 100px;
    
}

.photo-container6 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    user-select: none;
}

.text-container6 {
    display: flex;
    flex-direction: column;
    max-width: 49%;
    min-width: 49%;
    height: 300px;
    margin-right: 2%;
    overflow: hidden;
    margin-bottom: 100px;
    user-select: none;
   
    
    
}
.text-container61 {
    border: 1px solid black;
    padding: 10px;
    background-color: bisque;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 39%;
    font-style: italic;
    overflow: auto;
    margin-bottom: 2%;
    
    
}
.text-container62 {
    border: 1px solid black;
    padding: 5px;
    width: 100%;
    height: 59%;
}

.text-container62 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    user-select: none;
}

.text-container6 h2 {
    font-size: 20px;
    color: darkgreen;
    font-style: italic;
    text-align: center;
}



/* zone 7 photo sous carousel  */

.photo-container7 {
    position: absolute;
    display: flex;      
    /* width: 85vw;  */
    width: calc(100% - 100px);
    align-items: center;     /* Aligne verticalement au centre */
    left: 50px;
    /* top: 1190px;  */
    top: calc(2250px + (100vh - 120px));
    
}
.logos-container7 {
    position: relative;
    width: 100%;
    height: 100px;
    border: 1px solid black;
    padding: 15px;
    margin-bottom: 100px;
}

.logobis1,
.logobis2,
.logobis3,
.logobis4,
.logobis5 {
    width: 65px;
    height: auto;
    
}
.logobis1 {
    position: absolute;
    top: 25%;
    left: 5%;
    width: 85px;
    height: auto;
}

.logobis2 {
    position: absolute;
    left: 20%;
    width: 85px;
    height: 60px;
}

.logobis3 {
    position: absolute;
    left: 40%;
    width: 85px;
    height: auto;
}

.logobis4 {
    position: absolute;
    left: 55%;
    width: 85px;
    height: auto;
}

.logobis5 {
    position: absolute;
    left: 70%;
    width: 85px;
    height: auto;
}

.logobis6 {
    position: absolute;
    left: 85%;
    width: 85px;
    height: auto;
}



/* @media screen and (min-width: 1920px) {  */
    /* .photo-text-container1 {  */
        /* top: 910px;  */
    /* }  */
    
/* }  */

/* Media Queries pour la Responsivité */

/* Pour les écrans plus petits (tablettes, mobiles) */
@media screen and (max-width: 768px) {
    .photo-text-container0 {
        display: none;
    }
    .photo-text-container1 {
        display: none;
    }
    .photo-text-container1bis {
        display: none;
    }
    .photo-text-container2 {
        display: none;
    }
    .photo-text-container3 {
        display: none;
    }
    .photo-text-container4 {
        display: none;
    }
    .photo-text-container5 {
        display: none;
    } 
    .photo-text-container6 {
        display: none;
    }
    .logos-container7 {
        display: none;
    } 

    .carousel-container {
        bottom: 80px;
        width: 70%; /* Augmenter la largeur relative sur les petits écrans */
        height: 150px; /* Réduire la hauteur pour les écrans plus petits */
        bottom: 0px;
        /* transform: translateY(120px);   */
        /* Réduire le décalage vertical */
        margin-top: 30px;
    }

    .scrolling-text-container {
        
        top: 87%; /* Ajuster pour placer le texte juste au-dessus des bullets */
        left: 2%;
        width: 90%;
        overflow: hidden;
        white-space: nowrap;
    }

    .scrolling-text {
        font-size: 15px;
        
    }


    #toggleText {
        position: absolute;
        bottom: 15%;      /* Ajuste la position selon tes besoins */
        right: 30px;   /* Ajuste la position selon tes besoins */
        width: 50px;
        height: 50px;
        padding: 5px 10px;
        border: none;
        border-radius: 50%;
        font-size: 10px;
        cursor: pointer;
        z-index: 10;
      }




}

/* Pour les écrans très petits (mobiles) */
@media screen and (max-width: 420px) {
    .carousel-container {
        width: 60%; /* Ajuster encore plus la largeur */
        height: 110px; /* Réduire encore la hauteur */
        /* bottom: 8px;  */
        /* margin-bottom: -45px;  */
       
        
        
    
        /* transform: translateY(100px);  */
        /* Réduire le décalage vertical */
    }
    .carousel-controls {
        bottom: 5px; /* Ajuster la position des bullets pour qu'elles ne chevauchent pas l'image */
    }
    .carousel-bullet {
        width: 10px;  /* Réduire la taille des bullets */
        height: 10px;
    }

    .scrolling-text-container {
        display: none;
    }


}

/* -------3eme partie pied de page--------  */

/* Footer */
footer {
    background-color: black;
    color: white;
    padding: 10px 20px;
    position: fixed;
    
    bottom: 0;
    /* left: 0; */
    width: 100%;
    z-index: 1000; /* Assure que le footer est visible */
}

.footer-nav {
    display: flex;
    justify-content: space-between; /* Répartit les éléments horizontalement */
    align-items: center; /* Centre les éléments verticalement */
    /* flex-wrap: nowrap;   */
    /* Évite les retours à la ligne */
    height: 20px;
}

.footer-logo {
    width: 30px;
    height: auto;
}

.footer-text {
    font-size: 10px;
    font-weight: bold;
    margin: 0 10px;
}

.footer-email {
    color: #00aaff;
    text-decoration: none;
    font-size: 10px;
    margin: 0 10px;
}

.footer-email:hover {
    text-decoration: underline;
    letter-spacing: 1px;
}

.footer-button {
    color: white;
    background-color: #555;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 10px;
    margin: 0 10px;
    transition: background-color 0.3s ease;
}

.footer-button:hover {
    background-color: #00aaff;
    letter-spacing: 1px;
}

.footer-instagram img {
    width: 35px; 
    height: auto;
    margin-left: 10px;
    transition: transform 0.3s ease;
}

.footer-instagram img:hover {
    transform: scale(1.2);
}

.footer-phone {
    font-size: 16px;  /* Vous pouvez ajuster la taille du numéro de téléphone */
    margin: 5px 10px; /* Un peu d'espace autour du numéro */
    text-align: center;  /* Pour centrer le numéro sous le texte */
    color: #fff;  /* Si vous voulez que le texte soit en blanc */
}


.footer-phone a {
    color: #00aaff; /* Couleur du lien */
    text-decoration: none; /* Retirer la décoration du lien */
}

.footer-phone a:hover {
    text-decoration: underline; /* Souligner le lien au survol */
}

/* Footer responsive styles */
@media screen and (max-width: 500px) {
    footer {
        /* flex-wrap: wrap;  */
        /* Permet de passer les éléments sur plusieurs lignes si nécessaire */
        display: flex;
        justify-content: center; /* Centre horizontalement */
        align-items: center; /* Optionnel : Centre verticalement les éléments dans le footer */
        text-align: center; /* Centre le texte des éléments */
        width: 45%; /* S'assure que le footer occupe toute la largeur */
        height: 200px;
        /* S'ajuste à la hauteur du contenu */
        margin: 0 auto;



        /* display: flex;  */
        /* text-align: center;  */
        /* align-items: center;  */
        /* width: 45%;  */
        /* height: 200px;  */
        
    }

    .footer-nav {

        display: flex;
        flex-direction: column; /* Arrange les éléments en colonne */
        justify-content: center; /* Optionnel : Centre verticalement */
        align-items: center; /* Centre les éléments horizontalement */
        gap: 7px; /* Ajoute de l'espace entre les liens */
        text-align: center;

        /* display: flex;  */
        /* flex-direction: column;  */
        /* justify-content: center;  */
        /* align-items: center;  */
        /* text-align: center;  */
        /* gap: 7px;  */
        
    
    }

    .footer-logo {
        width: 30px; /* Réduit la taille du logo */
    }

    .footer-text {
        font-size: 10px; /* Réduit la taille du texte */
    }

    .footer-email {
        font-size: 10px; /* Réduit la taille du texte */
    }

    .footer-button {
        font-size: 8px; /* Réduit la taille des boutons */
        /* padding: 4px 8px;  */
        /* Ajuste les marges des boutons */
    }

    .footer-instagram img {
        width: 30px; /* Ajuste la taille de l'icône Instagram */
    }
    .footer-phone {
        font-size: 8px;
    }
}

